.user-profile {
    padding: 1.5rem 6rem;
}

h1 {
    font-size: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.match-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #E4E4E4;
    border-radius: 12px;
    padding: 2rem;
    margin-top: 4rem;
    color: gray;
}