.milestones {
    display: flex;
    flex-direction: column;
}

.milestones .add {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    padding: 0.5rem;
    transition: background-color 0.2s;
}

.milestones .add:hover {
    background-color: #E4E4E4;
    cursor: pointer;
}